.margen_top{
    margin-top: 60px;
}

.selector_opciones {
    height: 50px;
}
.text_area_pasos_edicion{
    width: 100%;
    height: 20px;
}

.contenedor_agregar {
    gap: 10px;
}

.detalle_contenedor_imagenes_editar {
   min-width: 40%;

    overflow-y: scroll;
    height: 100%;
    gap:20px;
}

.detalle_contenedor_imagenes_editar::-webkit-scrollbar {
    display: none;
}