.componente_contenedor_recetas{
    /* border-style: solid; */
    width: 70vw;
    max-height: 80vh;
    overflow-y: scroll;
    
    gap: 40px;

}

.componente_contenedor_recetas::-webkit-scrollbar {
    display: none;
}
