
.detalle{

    position: absolute;
    top:0px;
    left: 0px;
    z-index: 100;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.527);
    justify-content: center;
    align-items: center;
}

.detalle_receta_contenedor{
    background-color: white;
    width: 90%;
    height: 90%;
    
    
    color: #616161;
    gap: 80px;
}

.detalle_receta_detalles{
    background-color: white;
    width: 70%;
    height: 90%;
    
    padding: 50px;
    color: #616161;

    gap:50px;
    

    justify-content: space-between;
}

.detalle_receta_detalles_informacion{
    gap:100px;
    /* border-style: solid; */
    height: -webkit-fill-available;
    overflow-y: scroll;

}

.detalle_receta_detalles_informacion::-webkit-scrollbar{
    display: none;

}

.detalle_receta_detalles_informacion_titulo{
    
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
    

}

.detalle_receta_detalles_informacion_descripcion{
    
    font-size: 16px;
    text-align: justify;
    min-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
    
    display: flex;
    align-items: center;
    

}

.detalle_receta_detalles_informacion_agregar {

    /* height: 150px; */
    gap:20px;
}

.detalle_receta_detalles_informacion_descripcion::-webkit-scrollbar{
    display: none;

}

.detalle_receta_detalles_informacion_otros{
    
    gap:10px;
    
}

.detalle_receta_close_tag {

    position: absolute; 
    top:0px; 
    right: 40px; 
    height: 60px; 
    width: 60px; 
    border-style: solid; 
    z-index: 101; 
    background-color: red; 
    display: flex; 
    align-items: end; 
    justify-content: center;
    padding-bottom: 20px;

}




.detalle_contenedor_imagenes{
    overflow-y: scroll;
    height: 100%;
    gap:20px;
}

.detalle_contenedor_imagenes::-webkit-scrollbar {
    display: none;
}

.detalle_contenedor_imagenes_img {
    height: 90%;
    width: 100%;
}





.contenedor_detalles_inf{
    /* border-style: solid; */
    gap:40px;
    
}
.contenedor_detalles_inf_comentarios {
    gap: 10px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    
    
}
.contenedor_detalles_inf_opciones {
    gap:20px;
    align-items: center;
    justify-content: end; 
}

.detalles_comentarios_usuarios{
    height: 150px;
    border-radius: 10px;

}
.detalle_titulo_comentario{
    font-weight: bold;
    border-style: none none solid none;
   padding-bottom: 10px;
    
}
.text_area_detalles{
    
    
    margin-bottom: 20px; 
    margin-top: 20px;
    
    height: 10vh;
    width: 100%;

    border-style: solid;
    border-radius: 10px;
}

.font_tittles{
    font-size: 20px;
    font-weight: bold;
}

.area_agregar_pasos{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    height: 200px;

}

.area_agregar_ingredientes{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

}

.text_area_pasos{
    height:25px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 2.5px 10px;

}

.text_area_ingredientes{
    height:25px;
    width: 25%;
    display: flex;
    align-items: center;
    padding: 2.5px 10px;

}

.text_area_cantidades_{
    height:25px;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 2.5px 10px;

}

.contenedor_agregar{
    justify-content: space-between;
}

.contenedor_detallesGenerales_ingredientes {
    padding: 5px;
    width: 33%;
    text-align: start;

}





table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
caption {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}