
.detalle{

    position: absolute;
    top:0px;
    left: 0px;
    z-index: 100;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.527);
    justify-content: center;
    align-items: center;
}

.detalle_receta_contenedor{
    background-color: white;
    width: 90%;
    height: 90%;
    
    
    color: #616161;
    gap: 20px;
}

.detalle_receta_detalles{
    background-color: white;
    width: 70%;
    height: 90%;
    
    padding: 50px;
    color: #616161;
    

    justify-content: space-between;
}

.detalle_receta_detalles_informacion{
    gap:40px;
    /* border-style: solid; */
    height: -webkit-fill-available;
    

}

.detalle_receta_detalles_informacion_titulo{
    
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
    

}

.detalle_receta_detalles_informacion_descripcion{
    
    font-size: 16px;
    text-align: justify;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;

}

.detalle_receta_detalles_informacion_agregar {
    gap:20px;
}

.detalle_receta_detalles_informacion_descripcion::-webkit-scrollbar{
    display: none;

}

.detalle_receta_detalles_informacion_otros{
    
    gap:10px;
    
}

.detalle_receta_close_tag {

    position: absolute; 
    top:0px; 
    right: 40px; 
    height: 80px; 
    width: 60px; 
    border-style: solid; 
    z-index: 101; 
    background-color: red; 
    display: flex; 
    align-items: end; 
    justify-content: center;
    padding-bottom: 20px;

}




.detalle_contenedor_imagenes{
    overflow-y: scroll;
    height: 100%;
    gap:20px;
}

.detalle_contenedor_imagenes::-webkit-scrollbar {
    display: none;
}

.detalle_contenedor_imagenes_img {
    height: 90%;
    width: 100%;
}





.contenedor_detalles_inf{
    /* border-style: solid; */
    gap:40px;
    
}
.contenedor_detalles_inf_comentarios {
    gap: 10px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    
    
}
.contenedor_detalles_inf_opciones {
    gap:20px;
    align-items: center;
    justify-content: end; 
}

.detalles_comentarios_usuarios{
    height: 150px;
    border-radius: 10px;

}
.detalle_titulo_comentario{
    font-weight: bold;
    border-style: none none solid none;
   padding-bottom: 10px;
    
}
.text_area_detalles{
    
    
    margin-bottom: 20px; 
    margin-top: 20px;
    
    height: 10vh;
    width: 100%;

    border-style: solid;
    border-radius: 10px;
}

.font_tittles{
    font-size: 20px;
    font-weight: bold;
}

.area_agregar_pasos{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

}

.area_agregar_ingredientes{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

}

.text_area_pasos{
    height:25px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 2.5px 10px;

}

.text_area_ingredientes{
    height:25px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 2.5px 10px;

}

.contenedor_agregar{
    justify-content: space-between;
}

.contenedor_agregar{
    justify-content: space-between;
}

